<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="container">
    <div *ngIf="Photos else error">
        <div class="card" *ngFor="let photo of Photos">
            <figure class="card__thumb" style="box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);">
                <a href=""> <img src="{{photo.urls.small}}" alt="Picture by Kyle Cottrell" class="card__image"></a>
                <figcaption class="card__caption">
                    <h2 class="card__title"></h2>
                    <h2></h2>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- <img src="{{photo.urls.small}}"> -->
                        </div>
                        <div class="col-md-8" style="margin-top: -30px;">
                            <p class="card__snippet"><img src="{{photo.user.profile_image.small}}"> {{photo.user.name}}
                            </p>
                            <h5><a style="text-decoration:none; color:rgb(255, 250, 245)" href="{{photo.sponsorship?.tagline}}">
                                    {{photo.sponsorship?.tagline_url}}</a></h5>
                        </div>
                    </div>
                    <!-- <p>-------</p> -->
                    <!-- <div *ngIf="photo.sponsorship.tagline">
                    
                </div> -->

                </figcaption>
            </figure>
        </div>
    </div>


    <ng-template #error>
        <h3> Sorry check later</h3>
    </ng-template>





    <!--    <div class="card shadow-sm">
        <img src="{{photo.urls.small}}" class="bd-placeholder-img card-img-top" width="100%" height="225">


         <div class="card-body">

            <h5 class="card-title"> <img class="card-img-top" src="{{photo.user.profile_image.small}}" style="width:40px"> {{photo.user.first_name}}
            </h5>
            <p class="card-text">{{photo.user.bio}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div> 
    </div>
</div>-->

    <!-- <p class="disclaimer">All pictures were taken from <a class="disclaimer__link" href="https://unsplash.com/" target="_blank">Unsplash.</a></p> -->