<app-header></app-header>
<div class="container-fluid">
    <div class="col-md-12 p-4 p-md-5 mb-4 text-white rounded" style="margin-top:100px;background-color: darkcyan;">
        <div class="row">
            <h1 class="display-5 fst-bolder mb-4" style="font-family:  verdana;">MySplash</h1>
            <div class="col-md-8">
                <input class="form-control form-control-lg" type="text" [(ngModel)]="searchKeywords" placeholder="Search free high-resolution photos" aria-label="Search">
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-light btn-lg" type="submit" (click)="getSearchedPhotos()">Search</button>
            </div>
            <p class="lead my-3 mt-5">The internet’s source of freely-usable images. Powered by creators everywhere.
            </p>
        </div>
    </div>

    <div>
    </div>
    <div class="row" style="padding-left: calc(var(--bs-gutter-x) * 3.5);">
        <div *ngIf="randomPhotosData">
            <div class="col">
                <div class="card " *ngFor="let photo of randomPhotosData" style="float: left;">
                    <figure class="card__thumb" style="box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);">
                        <a href=""> <img src="{{photo.urls.small}}" alt="Picture by Kyle Cottrell" class="card__image"></a>
                        <figcaption class="card__caption">
                            <h2 class="card__title"></h2>
                            <h2></h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col"><img src="{{photo.user.profile_image.small}}"></div>
                                    <div class="col">
                                        <p class=""> {{photo.user.name}} </p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: calc(var(--bs-gutter-x) * 3.5);">
        <div class="col" *ngIf="searchPhotosData?.results.length > 1;">
            <p class="text-center">Search result of <span style="font-weight: bold;">{{searchKeywords}}</span></p>
            <div class="card " *ngFor="let photo of searchPhotosData?.results" style="float: left;">

                <figure class="card__thumb" style="box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);">
                    <a href=""> <img src="{{photo.urls.small}}" alt="Picture by Kyle Cottrell" class="card__image"></a>
                    <figcaption class="card__caption">
                        <h2 class="card__title"></h2>
                        <h2></h2>
                        <div class="container">
                            <div class="row">
                                <div class="col"><img src="{{photo.user.profile_image.small}}"></div>
                                <div class="col">
                                    <p class=""> {{photo.user.name}} </p>
                                </div>
                            </div>
                        </div>
                    </figcaption>
                </figure>


            </div>
        </div>
        <p class="text-center text-danger">{{controlSearch}} </p>
    </div>
    <div *ngIf="error_404">
        <app-error></app-error>
    </div>
</div>

<hr>

<app-footer></app-footer>