<app-header></app-header>
<div class="container-fluid">
    <div class="col-md-12 p-4 p-md-5 mb-4 text-white rounded search-area" style="">
        <div class="row">
            <h1 class="display-5 fst-bolder mb-4" style="font-family:  verdana;">MySplash</h1>
            <div class="col-md-8">
                <input class="form-control form-control-lg" type="text" [(ngModel)]="searchKeywords" placeholder="Search free high-resolution photos" aria-label="Search">
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-light btn-lg" type="submit" (click)="getSearchedPhotos()">Search</button>
            </div>
            <p class="lead my-3 mt-5">The internet’s source of freely-usable images. Powered by creators everywhere.
            </p>
        </div>
    </div>

    <div *ngIf="isLoading" style="text-align: center;">
        <!-- <p>Loading ...............</p> -->
        <img src="../../assets/Iphone-spinner-2.gif" alt="">
    </div>
    <div class="row" style="padding: 0 10%;">
        <div *ngIf="RandomPhotosData">
            <div class="col">
                <div class="card" style="margin: 10px 9px;" *ngFor="let photo of RandomPhotosData" style="float: left;">
                    <!-- <figure class="card__thumb" style="box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);"> -->
                    <a href=""> <img src="{{photo.urls.small}}" alt="" class="card__image"></a>
                    <figcaption class="card__caption">
                        <h2 class="card__title"></h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="card-title"><img class="rounded-circle" src="{{photo.user.profile_image.small}}"> </p>
                                </div>
                                <div class="col-md-10 text-light">
                                    {{photo.user.name}}
                                </div>
                            </div>
                        </div>
                    </figcaption>
                    <!-- <div class="card" style="width: ;">
                            <img class="card-img-top" src="{{photo.urls.small}}" alt="Card image cap">
                            <div class="card-body">
                               
                                <p class="card-text"> </p>
                            </div>
                        </div> -->
                    <!-- </figure> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: calc(var(--bs-gutter-x) * 3.5);">
        <div class="col" *ngIf="SearchPhotosData?.results.length > 1;">
            <div *ngIf="searchReady">
                <p class="text-center">Search result for <span style="font-weight: bold;">{{searchKeywords |
                        uppercase}}</span></p>
            </div>
            <div class="card " *ngFor="let photo of SearchPhotosData?.results" style="float: left;">

                <!-- <figure class="card__thumb" style="box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);"> -->
                <a href=""> <img src="{{photo.urls.small}}" alt="Picture by Kyle Cottrell" class="card__image"></a>
                <figcaption class="card__caption">
                    <h2 class="card__title"></h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <p class="card-title"><img class="rounded-circle" src="{{photo.user.profile_image.small}}"> </p>
                            </div>
                            <div class="col-md-10">
                                {{photo.user.name}}
                            </div>
                        </div>
                    </div>
                </figcaption>
                <!-- </figure> -->


            </div>
        </div>
        <p class="text-center text-danger">{{controlSearch}} </p>
    </div>
    <div *ngIf="error_404">
        <app-error></app-error>
    </div>
</div>

<hr>

<app-footer></app-footer>